@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CRC55.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "intro_script_rh2_base";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/introscriptr-h2base-webfont.woff2") format("woff2"),
       url("../fonts/introscriptr-h2base-webfont.woff") format("woff");
}

