* {
  box-sizing: border-box;
}
  @base-color: #fbebea;
  @button-color: #f50049;
  @text-gray: #2e2829;

body {
  margin: 0 auto;
  color: @text-gray;
  background-color: #f1f1f1;
  font-family: "Circe",  Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 320px;
}

main {
background-color: @base-color;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
