.about-us {
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.about-us__title {
  text-align: center;
}
.about-us__image {
  margin-left: 20px;

}
.about-us__subtitle {
  font-size: 22px;
  font-family: "IntroScriptR-H2Base", "Arial", sans-serif;
}
.about-us__text {
  width: 285px;
  font-size: 14px;
}
.about-us__speech {
  padding-top: 50px;
  padding-bottom: 85px;
  font-family: "PlayfairDisplay-BoldItalic", "Time New Roman", cursive;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  &::before {
    position: absolute;
    width: 57px;
    height: 37px;
    left: 40%;
    top: 645px;
    font-family: "Playfair Display Bold", "Time New Roman", serif;
    font-size: 61px;
    color: white;
    content: '”';
  }
  &::after {
    position: absolute;
    width: 64px;
    height: 31px;
    left: 40%;
    top: 745px;
    background-image: url(../img/painting.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
  }
}
