.advantages {
  margin: 0;
  text-align: center;
}
.advantagest__subtitle {
  margin: 0;
  font-family: "IntroScriptR-H2Base", "Arial", sans-serif;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}
.advantages__item {
  background-color: white;
  padding: 20px 30px;
  text-align: center;
}
.advantages__slogan {
  font-size: 16px;
  line-height: 27px;
  margin-top: 70px;
}
.advantages__text {

  width: 262px;
}
