.assortment__title {
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 24px;
  line-height: 65px;
  text-align: center;
}
.assortment__list {
  margin: 0;
  padding-left: 20px;
}
.assortment__item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  height: 120px;
  widows: 280px;
}
.assortment__item-classic {
  width: 280px;
  background-image: url(../img/classicphoto.jpg);
  background-repeat: no-repeat;
}
.assortment__item-mousseous {
  width: 280px;
  background-image: url(../img/mousseousphotos.jpg);
  background-repeat: no-repeat;
}
.assortment__item-wedding {
  width: 280px;
  background-image: url(../img/weddingphotos.jpg);
  background-repeat: no-repeat;
}
.assortment__item-mens {
  width: 280px;
  background-image: url(../img/mensphotos.jpg);
  background-repeat: no-repeat;
}
.assortment__item-women {
  width: 280px;
  background-image: url(../img/womenphotos.jpg);
  background-repeat: no-repeat;
}
.assortment__item-children {
  width: 280px;
  background-image: url(../img/childrenphoto.jpg);
  background-repeat: no-repeat;
}
.assortment__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
}
.quantity {
  color: #6c6869;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: @tablet-width) {
  .assortment {
    width: 731px;
  }
  .assortment__title {
    font-size: 28px;
    text-align: left;
  }
  .assortment__list {
    margin-top: 50px;
    height: 830px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .assortment__item {
    margin-bottom: 20px;
    padding: 25px;
  }
  .assortment__item-classic {
    width: 420px;
    height: 388px;
    background-image: url(../img/classicphoto768.jpg);
  }
  .assortment__item-mousseous {
    margin-left: 20px;
    order: 3;
    width: 288px;
    height: 184px;
    background-image: url(../img/mousseousphotos768.jpg);
  }
  .assortment__item-wedding {
    margin-left: 20px;
    order: 4;
    width: 288px;
    height: 184px;
    background-image: url(../img/weddingphotos768.jpg);
  }
  .assortment__item-mens {
    width: 288px;
    height: 184px;
    background-image: url(../img/mensphotos768.jpg);
  }
  .assortment__item-women {

    width: 288px;
    height: 184px;
    background-image: url(../img/womenphotos768.jpg);
  }
  .assortment__item-children {
    margin-left: -110px;
    order: 5;
    width: 419px;
    height: 388px;
    background-image: url(../img/childrenphoto768.jpg);
    background-position: left -9px top 0;
  }

}
@media (min-width: @desktop-width) {
  .assortment {
    width: 1227px;
    margin-top: 135px;
  }
  .assortment__title {
    font-size: 40px;
    line-height: 40px;
  }
  .assortment__list {
    height: 1415px;
  }
  .assortment__item {
    padding: 45px;
    margin-bottom: 44px;
  }
   .assortment__item-classic {
    width: 695px;
    height: 652px;
    background-image: url(../img/classicphoto1366.jpg);
  }
  .assortment__item-mousseous {
    margin-left: 45px;
    order: 3;
    width: 484px;
    height: 304px;
    background-image: url(../img/mousseousphotos1366.jpg);
  }
  .assortment__item-wedding {
    margin-left: 45px;
    order: 4;
    width: 484px;
    height: 304px;
    background-image: url(../img/weddingphotos1366.jpg);
  }
  .assortment__item-mens {
    width: 484px;
    height: 304px;
    background-image: url(../img/mensphotos1366.jpg);
  }
  .assortment__item-women {

    width: 484px;
    height: 304px;
    background-image: url(../img/womenphotos1366.jpg);
  }
  .assortment__item-children {
    margin-left: -165px;
    order: 5;
    width: 695px;
    height: 652px;
    background-image: url(../img/childrenphoto1366.jpg);
    background-position: left -9px top -1px;
  }
  .assortment__subtitle {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .quantity {
    font-size: 20px;
    line-height: 20px;
}





}
