.benefit {
  position: relative;
  background-image: url("../img/cakebackground.png");
  background-position: top center;
  background-repeat: no-repeat;

  h1 {
    font-family: "Playfair Display Bold", "Time New Roman", serif;
    font-size: 40px;
    padding-top: 164px;
    margin: 0 20px;
    text-align: center;
  }

  button {
    margin-left: 47px;
    background-color: @button-color;
    color: #ffffff;
    font-size: 13px;
    line-height: 27px;
    border: none;
    border-radius: 30px;
    padding: 15px 65px;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    &:active {
      box-shadow: 0 7px 15px 1px fadeout(@button-color, 70%);
    }
  }
}

.benefit__intro {
  margin: 0;
  margin-top: 10px;
  font-family: "IntroScriptR-H2Base", Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: @text-gray;
  text-align: center;
  font-weight: 500;
}

.benefit__slogan {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 25px;
  color: #000000;
}

.benefit__slogan::before {
  position: absolute;
  left: 20px;
  top: 307px;
  width: 35px;
  height: 35px;
  background-image: url("../img/ingredienticon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  content: " ";
}
.benefit__slogan::after {

  position: absolute;
  left: 20px;
  top: 355px;
  width: 35px;
  height: 35px;
  background-image: url("../img/deliveryicon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  content: " ";

}

@media (min-width: @tablet-width) {
  .benefit {
    background-image: url("../img/cakebackground768.png");
    background-position: top 50px right;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  h1 {
    padding-left: 25px;
    margin: 0;
    font-size: 60px;
    width: 275px;
    text-align: left;
  }
  button {
    margin: 0;
    margin-top: 40px;
    margin-left: 25px;
    &:hover {
      box-shadow: 0 7px 15px 1px fadeout(@button-color, 70%);
    }
  }
}
.benefit__intro {
  padding-left: 25px;
  font-size: 36px;
  line-height: 36px;
}

.benefit__slogans {
  padding-left: 25px;
  margin-top: 160px;
  display: flex;
  order: 1;
}
.benefit__slogan {
  width: 165px;
}
.benefit__slogan::before {
  left: 40px;
  top: 627px;
  width: 55px;
  height: 55px;
  background-image: url("../img/ingredienticon768.png");
}
.benefit__slogan::after {
  left: 323px;
  top: 627px;
  width: 55px;
  height: 55px;
  background-image: url("../img/deliveryicon768.png");

}
.assortment {
  order: 2;
}
}

@media (min-width: @desktop-width) {
  .benefit {
    background-image: url("../img/cakebackground1366.png");
    background-position: top 50px right;
    padding-left: 72px;
    padding-right: 72px;
      h1 {
        font-size: 79px;
        width: 356px;
      }
  }
  .benefit__intro {
  font-size: 41px;
  line-height: 41px;
  }
  .benefit__slogan::before {
  left: 70px;
  top: 685px;
  background-image: url("../img/ingredienticon768.png");
}
.benefit__slogan::after {
  left: 353px;
  top: 685px;
  background-image: url("../img/deliveryicon768.png");

}

}


