.filling__name {
  font-size: 16px;
  line-height: 16px;
}
.filling__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.filling__price {
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 18px;
  line-height: 18px;
  margin: 20px 0;
  text-align: center;
}
@media (min-width: @tablet-width) {
  .filling {
    display: flex;
    width: 450px;
    height: 270px;
    align-items: center;

  }
  .filling__image {
    flex-grow: 5;
  }
  .filling__name {
    font-size: 18px;
    line-height: 18px;
  }
  .filling__price {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
  .filling__description {
    width: 190px;
    margin-left: 25px;
  }


}
@media (min-width: @desktop-width) {
  .filling {
    width: 810px;
    height: 450px;
  }
  .filling__name {
    font-size: 20px;
    line-height: 20px;
  }.filling__text {
    font-size: 18px;
    line-height: 18px;
  }
  .filling__price {
    font-size: 22px;
    line-height: 22px;
  }
  .filling__description {
    width: 330px;
    margin-left: 45px;
  }


}
