.filling__name {
  font-size: 16px;
  line-height: 12px;
}
.filling__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.filling__price {
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 18px;
  line-height: 18px;
  margin: 20px 0;
  text-align: center;
}
