.how-order {
    background-color: #e4353b;
    color: white;
    padding: 35px 30px 210px 35px;
    background-image: url(../img/present%20background.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.how-order__title {
  margin: 0;
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.how-oder__item {
  list-style-type: decimal;
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 35px;
}
.how-order__subtitle {
  font-family: "Circe",  Arial, sans-serif;
  font-size: 15px;
}
.how-order__text {
  font-family: "Circe",  Arial, sans-serif;
  font-size: 14px;
}
