.how-order {
    background-color: #e4353b;
    color: white;
    padding: 35px 30px 210px 35px;
    background-image: url(../img/presentbackground.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.how-order__title {
  margin: 0;
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.how-order__list {
  padding: 0;
  list-style-type: none;
  counter-reset: num;
}
.how-oder__item::before {
  content: counter(num);
  counter-increment: num;
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 35px;
}

.how-order__subtitle {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: -25px;

  width: 225px;
  font-family: "Circe",  Arial, sans-serif;
  font-size: 15px;
}
.how-order__text {
  margin: 0;
  margin-left: 30px;
  width: 225px;
  font-family: "Circe",  Arial, sans-serif;
  font-size: 14px;
  br {
    display: none;
  }
}
@media (min-width: @tablet-width) {
  .how-order {   
    padding: 50px 45px 55px 50px; 
    background-image: url(../img/presentbackground768.jpg);
    background-position: 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .how-order__title {
    text-align: left;
    width: 384px;
    font-size: 28px;
   }
  .how-order__subtitle {
    font-size: 15px;
  }
  .how-order__text {
    width: 266px;
    font-size: 14px;
    br {
      display: block;
    }
  }
  .how-order__text-tablet {
    width: 355px;
  }
  .how-oder__item::before {
    position: relative;
    left: -6px;
    bottom: -9px;
    font-size: 36px;
}
}
@media (min-width: @desktop-width) {
  .how-order {
    padding: 80px 55px 175px 55px;
    background-image: url(../img/presentbackground1366.jpg);
  }
  .how-order__title {
    width: 525px;
    font-size: 40px;
  }
  .how-order__subtitle {
    font-size: 21px;
  }
  .how-order__text {
    width: 415px;

    font-size: 20px;
  }
  .how-oder__item::before {
    position: relative;
    left: -16px;
    bottom: -37px;
    font-size: 64px;
  }
  .how-order__text-tablet {
    width: 480px;
  }



}
