.order__title {
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  font-size: 24px;
  line-height: 28px;
  width: 230px;
  margin-left: 50px;
  text-align: center;

}
.order__explanation {
  font-family: "IntroScriptR-H2Base", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
}
.order__item {
  background-color: white;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 15px 20px;
}
.order__number,
.order__subtitle {
  font-family: "Playfair Display Bold", "Time New Roman", serif;
  color: @button-color;
  font-size: 16px;
  line-height: 16px;
}
.order__number {
  font-size: 30px;
}
.order__subtitle {
  display: inline-block;
  margin-right: 0;
  padding-left: 5px;
  width: 200px;
}
.order__choose {
  background-color: @button-color;
  color: #ffffff;
  font-size: 13px;
  line-height: 27px;
  border: none;
  border-radius: 30px;
  padding: 15px 65px;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  margin-left: 25px;
  cursor: pointer;
  &:active {
    box-shadow: 0 7px 15px 1px fadeout(@button-color, 70%);
  }
}
.size__text {
  width: 110px;
  margin: 20px auto;
  font-weight: 500;

}
.slider__item {
  text-align: center;
}

.order__toggles {
  text-align: center;
}
@media (min-width: @tablet-width) {
  .order {
    padding-left: 20px;
    padding-right: 20px;

  }
  .order__list {
    position: relative;
  }

  .order__title {
    margin: auto;
    width: auto;
    font-size: 28px;
  }
  .order__explanation {
    font-size: 26px;
    line-height: 26px;
  }
  .order__item {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 45px;
    padding-top: 35px;
    display: flex;
    justify-content: flex-start;

  }
  .order__name {
    width: 130px;
  }

  .order__toggles {
    display: none;
  }
  .order__number {
    font-size: 36px;
    line-height: 36px;
  }
  .order__subtitle {
    margin: 0;
    width: 110px;
    font-size: 18px;
    line-height: 18px;
  }
  .order__choose {
    margin: 0;
    &:hover {
    box-shadow: 0 7px 15px 1px fadeout(@button-color, 70%);
    }
  }
  .order__choose--size {
    display: none;
  }
  .order__item--size {
    display: flex;
    flex-direction: column;

  }
  .order__choose--decor {
    display: none;
  }
  .order__item--decor {
    flex-direction: column;
  }


}
@media (min-width: @desktop-width) {
  .order {
    padding-left: 75px;
    padding-right: 75px;

  }
  .order__title {
    font-size: 40px;
    line-height: 40px;
  }
  .order__explanation {
    font-size: 35px;
    line-height: 35px;
  }
  .order__item {
    width: auto;
    margin: auto;
    margin-bottom: 40px;
    padding: 75px;
    padding-top: 60px;

  }
  .order__number {
    font-size: 59px;
    line-height: 59px;
  }
  .order__subtitle {
    font-size: 27px;
    line-height: 27px;
  }
  .order__name {
    width: 150px;
  }



}
