.page-footer {
  margin: 0 auto;
  padding: 40px 20px 5px 20px;
  background-color: #898989;

}
.page-footer__item a {
  line-height: 25px;
  color: #efefef;
}
.page-footer__solial-list {
  display: flex;
  width: 72px;
  justify-content: space-between;
}
.page-footer__social-btn .cls-1:hover {
  opacity: 1;
}
.page-footer__copyright {
  font-size: 12px;
  color: #b3b3b3;
  border-top: 1px solid #b3b3b3;
  padding-top: 10px;
}
