header {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  height: 40px;
  position: relative;
  text-align: left;
  margin-bottom: -39px;
  z-index: 5;
  a {
    color: #000000;
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #dedede;
    background-color: #e7e7e7;
    text-transform: uppercase;
  }
}
.page-header__logo {
  margin-top: 13px;
}

.main-nav__item {
  text-align: center;
  font-family: "CRC55.woff", "Arial", sans-serif;
}

.page-header__toggle {
  position: absolute;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  margin: 7px 0;
  top: 17px;
  left: 290px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.page-header__toggle:focus {
  outline-width: 0;
}
.page-header__toggle [class*='bar-'] {
  background: black;
  display: block;
  border-radius: 8px;
  height: 2px;
  width: 29px;
  margin-bottom: 6px;
  transform: rotate(0deg);
  transition: .2s ease all;
}
.opened .page-header__bar-top {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.page-header__bar-bot {
   margin-bottom: 0;
}

.opened .page-header__bar-mid {
  opacity: 0;
}
.opened .page-header__bar-bot {
  transform: rotate(-45deg);
  transform-origin: 10% 95%;
}
.main-nav {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 246px;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
  display: none;
  }
#menu.active {
  display: block;
}

.page-header__tel {
  font-family: "CRC55.woff", "Arial", sans-serif;
  font-size: 15px;
  display: none;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
   .main-nav {
    display: none;
    top: 60px;
  }
  .page-header__tel {
    display: block;
  }
  .page-header {
    width: 768px;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__toggle {
    left: 120px;
    top: 29px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    width: 1366px;
    height: 90px;
    background-color: @base-color;
    align-items: flex-end;
    justify-content: flex-start;
      }
  .page-header__tel {
    width: 120px;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header__logo {
    margin: 0;
    margin-bottom: 11px;
  }
  .main-nav {
    margin: 0;
    display: flex;
    width: 1115px;
    height: 45px;
    position: static;
    justify-content: flex-start;
    align-items: center;
  }
  .main-nav__item {
    width: auto;
    margin-left: 40px;
    padding: 0;
    color: #2e2829;
    font-size: 13px;
    border: none;
    background-color: @base-color;
  }
  .main-nav__item:hover {
    color: @button-color;
  }
  .main-nav__item--active {
    color: @button-color;
  }



}
