header {
  margin: 0 auto;
  background-color: #ffffff;
  height: 40px;
  position: relative;
  text-align: left;
  margin-bottom: -39px;
  z-index: 5;
  a {
    color: #000000;
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #dedede;
    background-color: #e7e7e7;
    text-transform: uppercase;
  }
}
.page-header__logo {
  margin-top: 13px;
  margin-left: 20px;
}

.main-nav__item {
  text-align: center;
}

.main-nav {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  width: 320px;
  height: 246px;
  top: 0;
  overflow: hidden;
  }


.main-nav__icon {
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
  position: absolute;
  top: 0;
  right: 20px;
  width: 15px;
  font-size: 22px;
  background-color: white;
  border: none;
 }

@media (max-width: @tablet-width) {
  .main-nav {
    display: none;


  }
  .main-nav.active {
    display: block;


  }
  .main-nav__item {
    display: block;
  }


}
