.page-main {
    margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
  }
  .page-main__info {
    background-image: url(../img/cakeplatebackground768.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

}
@media (min-width: @desktop-width) {
  .page-main {
    margin: 0 auto;
    width: 1366px;
  }
  .page-main__info {
    background-image: url(../img/cakeplatebackground1366.png);

  }
}
